
# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear
*.nar

# Virtual environments
venv/
env/

# Jenkins
Jenkins_home/

# Environment variables
.env

